body {
    background: #a1a1a1;
}

h2 {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.container {
    background: #191919;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

