.grid-container {
    display: grid;
    grid-template-columns: minmax(70px, 30%), repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 6px 7px;
    grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
}

.comment {
    background: #2d6f7a;
    margin-bottom: 3%;
    margin-left: 3%;
    padding-top: 3%;
    padding-left: 3%;
    color: #3c3c3c;
    height: auto;
    width: auto;
    cursor: pointer;
    display: block;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 15px 10px 15px 5px rgba(40, 10, 53, 0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 15px 10px 15px 5px rgba(40, 10, 53, 0);
}

.title-info {
    font-weight: bold;
    margin-left: 3%;
    color: #ebedf0;
}

.info {
    padding-left: 2%;
    color: #d3dff2;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-msg {
    color: red;
    position: relative;
    font-weight: bold;
    margin-left: 40%;
    margin-top: -3%;
    margin-bottom: 2%;
}

.comment-btn {
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
}

.add-btn {
    position: relative;
    float: right;
    background-color: transparent;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

