nav a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    width: 10vw;
    background: #2d6f7a;
}

.icon {
    padding-right: 10%;
    float: right;
}

li > ul {
    display: none;
    margin-top: 10px;

}

li:hover > ul {
    display: block;
}

ul > li {
    position: relative;
    height: 80px;
}

ul {
    list-style-type: none;
}