section {
    position: absolute;
    top: 10;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a1a1a1;
}

section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 2s fadeIn forwards .5s;
}

.list {
    width: 80%;
    height: 100%
}

#first {
    width: auto;
}

.form-comment {
    width: 50%;
    background: #2d6f7a;
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 15px 15px 15px 0px #000000, inset 4px 4px 15px 0px #000000, 25px 20px 25px 15px rgba(40, 10, 53, 0);
    box-shadow: 15px 15px 15px 0px #000000, inset 4px 4px 15px 0px #000000, 25px 20px 25px 15px rgba(40, 10, 53, 0);
}

.section-form {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.title-form {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.select {
    position: relative;
    margin-left: 30%;
    display: inline-block;
    margin-bottom: 15px;
    width: 50%;
    border: 0px solid #16282c;
}

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 0px;
    outline: 0;
    border-radius: 17px;
    background: rgba(48, 99, 110, 0.8);
    color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: white;
    background: #347a85;
}

.select select:disabled {
    opacity: 0.8;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #0e4257;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #16282c;
}

.result {
    text-align: center;
    font-weight: 600;

}